*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background: white url("images/backgroud.jpg");
}
.header{
    color:aliceblue;
    background-color: rgb(2, 1, 44);
    text-align: center;
    padding: 3px ;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.posts,mensagem,footer{
    padding: 0px 20% 0px 20%;
    margin:5px;
    text-decoration: none;
}

textarea{
    resize: none;
    width: 200px;
    height:50px ;
}